<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>生命周期</title>
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
</head>
<body>
  <div ref="app" id="app">{{name}}</div>

  <input id="clickBtn" @click="msg(1)" :type="type" :value='content'>

  <div id="modelTest">
    <input v-model="msg" type="text">
    <p v-once>您输入的是：{{msg}}</p>
  </div>

  <ul id="listItem">
    <li v-for="(list,index) in lists">{{index+1}}、{{list}}</li>
  </ul>
  <script>
    var list = new Vue({
      el: '#listItem',
      data: {
        lists: ['html', 'css', 'javascript', 'nodejs']
      }
    });
    var modelTest = new Vue({
      el: '#modelTest',
      data: {
        msg: '你好'
      }
    });
    var click = new Vue({
      el: '#clickBtn',
      data: {
        type: 'button',
        content: '点我'
      },
      methods: {
        msg(num) {
          console.log(num);
        }
      }
    });
    var app = new Vue({
      el: '#app',
      data: {
        name: '123'
      },
      beforeCreate() {
        console.log('即将创建');
        console.log(this.$el);  //undefined
        console.log(this.$data);  //undefined
      },
      created() {
        console.log('创建完毕');
        console.log(this.$el);  //undefined
        console.log(this.$data);  // Object 
      },
      beforeMount() {
        console.log('即将挂载');
        console.log(this.$el);  //<div id="app">{{msg}}</div>
        console.log(this.$data);  // Object
      },
      mounted() {
        console.log('挂载完毕');
        console.log(this.$el);  //<div id="app">123</div>
        console.log(this.$data);  // Object
      },
      beforeUpdate() {
        console.log('=即将更新渲染=');
        let name = this.$refs.app.innerHTML;
        console.log('name:'+name);
      },
      updated() {
        console.log('==更新成功==');
        let name = this.$refs.app.innerHTML;
        console.log('name:'+name);
      },
       beforeDestroy(){
        console.log('销毁之前');
      },
      destroyed(){
        console.log('销毁成功');
      }

    })
  </script>
</body>
</html>